* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.img1 {
  margin-top: 3%;
  display:none;
}

.img2 {
  margin-top: 3%;
  display:none;
}

.img3 {
  margin-top: 3%;
  display:none;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  display: block;
}

.button-left {
  line-height: 100px;
  height: 100px;
  cursor: pointer;
}

.button-right {
  line-height: 100px;
  height: 100px;
  cursor: pointer;
}

i {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 70px;
}
